* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* 스크롤 허용 */
}

.landing-page {
  width: 100%;
  min-height: 1000vh; /* 충분한 높이 설정 */
  background-image: url("A.png");
  background-size: auto 90%; /* 높이를 기준으로 120%로 확대 */
  background-position: center top; /* 배경 위치를 화면 상단으로 고정 */
  background-repeat: no-repeat;
  background-attachment: scroll; /* 배경 이미지가 스크롤과 함께 움직임 */
}
